@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* variables */
:root {
    --general-text: rgba(242, 242, 242, .8);
    --white-text: #FFF;

    --submit-background: #024959;

}


/* general styles  */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--general-text);
}
.container {
    padding: 0 3.6rem;
}
.section__layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__container{
    width: 60%;
    height: 85%;
    color: var(--general-text);
}
body{
    
}


/* navbar styles */
nav, .nav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
nav{
    width: 100%;
    height: 40px;
    color: var(--general-text);
    background-color: #19050A;
    /* z-index: 11;
    position: fixed; */
}
.nav__links{
    width: 30vw;
    height: 100%;
}
/* .nav__links a {
    color: var(--general-text);
} */
nav h1 {
    font-family: 'Vollkorn';
}


/* home styles */
.home__page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/home__background.png);
    background-size: 100%;
    /* background-repeat: no-repeat;
    background-origin: initial;
    background-position: 0%; */
}
.home__flexbox{
    width: 42%;
    height: 70%;
    color: var(--general-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}
.home__text .big__text {
    width: 100%;
    font-size: 6rem;
    color: var(--white-text);
    line-height: 7rem;
}
.home__text .small__text{
    font-size: 1.2rem;
    font-weight: 300;
    font-variant: light;
}
.form__controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
form input[type='submit'] {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--submit-background);
    color: var(--white-text);
}
form input[type='email'] {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #590209;
    border-radius: 10px;
    padding: 0 1rem;
}


/* about-us */
.about-us__page{
    font-family: 'Raleway', sans-serif;
    /* background: radial-gradient(farthest-side at 99% 99%,#5A0007 ,#040308, #5A0007); */
    /* background: repeating-radial-gradient(circle at 99% 99%,#F26430 ,#040308,#040308 ,#040308,#040308,#040308, #5A0007); */
    background: repeating-radial-gradient(circle at 99% 99%,#F26430 ,#040308,#040308 ,#040308,#040308,#040308, #5A0007);
}
.about-us{
    padding: 3rem 5rem;
    text-align: justify;
    border-radius: 20px;
    background: url(images/about__background.png);
    background-size: 100%;
    /* background-repeat: no-repeat; */
}
.about-us h1,
.about-us h2 {
    margin-bottom: 1.2rem;
    text-align: center;
}
.about-us h1 {
    font-size: 48px;
}
.about-us h2 {
    font-size: 24px;
}


.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    /* background: blue; */
}
.product__image{
    width: 33%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: red; */
}
.product__image1{
    background-image: url(images/product__image1.png);
}
.product__image2{
    background-image: url(images/product__image2.png);
}
.product__text{
    width: 50%;
    height: max-content;
    text-align: left;
}
.product__text h1,
.product__text p{
    margin-bottom: 1rem;
}
.product__text button{
    width: 125px;
    height: 32px;
    background-color: var(--submit-background);
    border-radius: 5px;
    border: none;
    outline: none;
}


.pricing__page{
}
.pricing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.pricing article {
    height: 70%;
    background-color: #04080D;
    color: var(--general-text);
    text-align: center;
    line-height: 1.3rem;
    padding: 1.2rem;
    border-radius: 15px;
    box-shadow: -1px 4px 4px 4px #5A0007 ;
}


.about-us__page,
.product__page2{
    background: 
        radial-gradient(farthest-corner at right bottom,rgba(242, 100, 48, .8) ,#040308 30% , transparent),
        radial-gradient(farthest-corner at top left , #5A0007,#040308 70%, transparent);
}
.product__page1,
.pricing__page{
    background: 
        radial-gradient(farthest-corner at top right,rgba(242, 100, 48, .8) ,#040308 30% , transparent),
        radial-gradient(farthest-corner at left bottom , #5A0007,#040308 70%, transparent);
}

